#googlelogo {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 9.6em;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5em auto;
  width: 30em;
  height: 2.75em;
  border-radius: 30px;
  position: relative;
  top: 9.8em;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
}

#searchbar {
  position: relative;
  margin: 2em auto;
  width: 29em;
  border-style: none;
  bottom: 12px;
}

.search-container:hover {
   box-shadow: 0px 0px 10px rgba(0,0,0,0.19);
}

#magnifying-lens {
  width: 4%;
  position: relative;
  left: 12px;
  top: 12px;
}

#google-mic {
  width: 3%;
  position: relative;
  top: 12px;
}

.nav-container {
  display: grid;
  margin: 20px;
  grid-template-columns: [about] 50px [store] auto [gmail] 50px [image] 50px [grid-image] 50px [sign-in] 50px;
}

.nav-item {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  color: black;
  font-weight: 325;
}

.nav-item:hover {
  text-decoration: underline;
}

#apps-icon {
  width: 50%;
  position: relative;
  bottom: 5px;
  left: 5px;
}

#sign-in {
  background-color: #4285F4;
  border-radius: 4px;
  padding: 6px 5px 5px 7px;
  margin: -5px -5px 5px -5px;
  color: white;
  font-weight:bolder;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 9.85em;
}

.button {
  height: 2.56em;
  border-style: none;
  border-radius: 4px;
  color: hsla(0, 0%, 40%, 1);
  font-size: 14px;
  font-family: arial;
  margin: 0.4em 0.4em;
  background-color: hsla(0, 0%, 80%, 0.25);
}

.button:hover {
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  color: black;
}

#search-button{
    width: 9em;
}

#lucky-button {
    width: 10.3em;
}

.foot-container {
  position: fixed;
  background-color: hsla(0, 0%, 80%, 0.5);
  bottom: 0px;
  margin: 20px;
}

.foot-item {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 325;
}

.foot-item:hover {
  text-decoration: underline;
}
